{{#block "vendor_js"}}
<script type="text/html" id='detail-tpl'>
  <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="loader" style="display: none;">
        <div class="whirl traditional"></div>
      </div>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
          <h4 class="modal-title" id="detailLabel">...</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-9">
              <form class="form-horizontal p-20">
                <div class="form-group">
                  <div class="col-sm-2"><b>头像：</b></div>
                  <div class="col-sm-10">
                    <div style="width: 64px; height: 64px;">
                      <img src="" id="avatar-img" style="max-width: 64px; max-height: 64px;">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-2"><b>姓名：</b></div>
                  <div class="col-sm-10">
                    <span name="name"></span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-2"><b>资料集：</b></div>
                  <div class="col-sm-10">
                    <a href="javascript:;" target="_blank" name="resourceDl">点击下载</a>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-2"><b>电话：</b></div>
                  <div class="col-sm-10">
                    <span name="phone"></span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-2"><b>邮件：</b></div>
                  <div class="col-sm-10">
                    <span name="email"></span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-2"><b>QQ：</b></div>
                  <div class="col-sm-10">
                    <span name="qq"></span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-2"><b>微信：</b></div>
                  <div class="col-sm-10">
                    <span name="wechat"></span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-2"><b>介绍：</b></div>
                  <div class="col-sm-10">
                    <span name="introduction"></span>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-3">
              <img src="" id="avatar-img" style="max-width: 100%">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
</script>
{{/block}}

<script>console.log({{{json}}})</script>
<div class="content-heading">
  <div class="pull-right">
    <a href="/author/create" class="btn btn-sm btn-primary">创建作者</a>
  </div>
  <ol class="breadcrumb">
    <li>
      <span>管理</span>
    </li>
    <li class="active">
      <span>作者管理</span>
    </li>
  </ol>
</div>
<div class="row">
  <div class="col-md-12">
    <div class='panel panel-default panel-search' data-js-comp="component/common/search_panel">
      <div class="panel-body">
        <form id="search-form" class="form-inline">
          <table>
            <tr>
              <td class="search-label">
                姓名：
              </td>
              <td>
                <input type="text" class="form-control input-sm" name="name" placeholder="请输入" value="{{likeQuery _QUERY_.filter.name}}">
              </td>
              <td width="100%">
                &nbsp;
              </td>
              <td>
                <button type="submit" class="btn btn-primary btn-outline">搜索</button>
              </td>
              <td>
                <button type="reset" class="btn btn-default ml">重置</button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    
    <input type="hidden" data-js-comp="component/author/detail">
    <input type="hidden" data-js-comp="component/author/delete">

    <div class="panel panel-default" data-auto-height='45'>
      <div class="panel-body p0">
        <div class="row">
          <div class="col-md-12" style="min-height: 300px;">
            <table class='table table-striped'>
              <thead>
              <tr>
                <th class="text-left">头像</th>
                <th class="text-left">编号</th>
                <th class="text-left">姓名</th>
                <th class="text-center">电话</th>
                <th class="text-center">微信</th>
                <th class="text-center">联络价格</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">修改时间</th>
                <th class="text-right">操作</th>
              </tr>
              </thead>
              <tbody>
              {{#unless _DATA_.result}}
                <tr><td colspan="8" class="text-muted text-center">找不到数据（T T）</td></tr>
              {{else}}
                {{#each _DATA_.result}}
                  <tr data-id="{{{id}}}" height="82">
                    <td class="text-left" width="64">
                      <img src="{{{qiniuFile icon}}}" style="width: 64px" id="icon-preview">
                    </td>
                    <td class="text-left" width="64">
                      <a href="javascript:;" title="点击查看详情" name="detailBtn">{{padLeft id 6}}</a>
                    </td>
                    <td class="text-left">
                      {{name}}
                    </td>
                    <td class="text-center">
                      {{phone}}
                    </td>
                    <td class="text-center">
                      {{wechat}}
                    </td>
                    <td class="text-center">
                      <span class="text-warning">￥ {{price contactCost}}</span>
                    </td>
                    <td class="text-center">
                      <small class="text-muted">{{date createdAt "yyyy-MM-dd HH:mm:ss"}}</small>
                    </td>
                    <td class="text-center">
                      <small class="text-muted">{{date updatedAt "yyyy-MM-dd HH:mm:ss"}}</small>
                    </td>
                    <td class="text-right">
                      <a href="{{{qiniuFile attachment.key}}}" target="_blank" name="modifyBtn" style="display: block;">下载资料</a>
                      <a href="/author/modify/{{{id}}}" name="modifyBtn" style="display: block;">修改</a>
                      <a href="javascript:;" name="deleteBtn" style="display: block;">删除</a>
                    </td>
                  </tr>
                {{/each}}
              {{/unless}}
              </tbody>
            </table>
            {{> pagination}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
