{{#block "vendor_js"}}
{{/block}}

<script>console.log({{{json}}})</script>
<div class="content-heading">
  <div class="pull-right">
    <a href="/author/create" class="btn btn-sm btn-primary">创建作者</a>
  </div>
  <ol class="breadcrumb">
    <li>
      <span>管理</span>
    </li>
    <li class="active">
      <span>作者管理</span>
    </li>
  </ol>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default" data-auto-height='45'>
      <div class="panel-body p0">
        <div class="row">
          <div class="col-md-12" style="min-height: 300px;">
            <table class='table table-striped'>
              <thead>
              <tr>
                <th class="text-left">头像</th>
                <th class="text-center">编号</th>
                <th class="text-center">姓名</th>
                <th class="text-center">电话</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">修改时间</th>
                <th class="text-right">操作</th>
              </tr>
              </thead>
              <tbody>
              {{#unless _DATA_.result}}
                <tr><td colspan="7" class="text-muted text-center">找不到数据（T T）</td></tr>
              {{else}}
                {{#each _DATA_.result}}
                  <tr data-id="{{{id}}}">
                    <td class="text-left" width="64">
                      <img src="{{{qiniuFile icon}}}" style="width: 64px" id="icon-preview">
                    </td>
                    <td class="text-center" width="64">
                      <a href="/author/{{{id}}}">{{padLeft id 6}}</a>
                    </td>
                    <td class="text-center">
                      {{name}}
                    </td>
                    <td class="text-center">
                      {{phone}}
                    </td>
                    <td class="text-center">
                      <small class="text-muted">{{date createdAt "yyyy-MM-dd HH:mm:ss"}}</small>
                    </td>
                    <td class="text-center">
                      <small class="text-muted">{{date updatedAt "yyyy-MM-dd HH:mm:ss"}}</small>
                    </td>
                    <td class="text-right">
                      <a href="javascript:;" name="modifyBtn">修改</a>
                      <a href="javascript:;" name="deleteBtn">删除</a>
                    </td>
                  </tr>
                {{/each}}
              {{/unless}}
              </tbody>
            </table>
            <div class="row pt-lg">
              <div class="col-md-12 text-center pagination-sm" id='pagination-container' 
                   data-js-comp="component/common/pagination"
                   data-total-count="{{_DATA_.totalCount}}"
                   data-page-count="{{_DATA_.pageCount}}"
                   data-page="{{_DATA_.page}}"
              ></div>
              <div class="col-md-12 text-center">
                <small class="text-muted">检索到{{_DATA_.totalCount}}条，共{{_DATA_.pageCount}}页</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
