{{#block "vendor_js"}}
<link rel="stylesheet" type="text/css" href="/vendor/wangEditor/dist/css/wangEditor.min.css">
{{/block}}

{{#block "vendor_js"}}
<script src="/vendor/wangEditor/dist/js/wangEditor.min.js"></script>
{{/block}}

<script>console.log({{{json}}})</script>

<div class="content-heading">
  <div class="pull-right">
    <button type="button" class="btn btn-sm btn-default" name="stashBtn">暂存</button>
    <button type="button" class="btn btn-sm btn-primary" name="submitBtn" data-js-comp="component/question/reply">寄送邮件</button>
  </div>
  <ol class="breadcrumb">
    <li>
      <span>管理</span>
    </li>
    <li>
      <a href="/question">提问管理</a>
    </li>
    <li class="active">
      <span>问题回复</span>
    </li>
  </ol>
</div>

<input type="hidden" name="id" value="{{_DATA_.result.id}}">

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default" id='edit-panel'>
      <form id='topic-form'>
        <div class="panel-body">
          <div class="form-group">
            <label>提问者</label>
            <input type="text" class="form-control" value="{{_DATA_.result.user.nickname}}" readonly>
          </div>
          <div class="form-group">
            <label>问题详情</label>
            <textarea type="text" class="form-control" style="max-width: 100%;" readonly>{{_DATA_.result.content}}</textarea>
          </div>
          <div class="form-group">
            <label>目的邮箱</label>
            <input type="text" class="form-control" value="{{_DATA_.result.userEmail}}" readonly>
          </div>
          <div class="form-group">
            <label>邮件标题</label>
            <input type="text" class="form-control" value="大神“{{_DATA_.result.topic.author.name}}”对您提出问题的回复" readonly>
          </div>
          <div class="form-group">
            <label>邮件正文</label>
            <div id="content-editor" style="width:100%; height: 300px;">{{{_DATA_.result.replyContent}}}</div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default" id='media-panel'>
      <div class="panel-heading">
        <div class="input-group">
          <input type="text" class="form-control" name="assetName" placeholder="请输入文件名">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" name="filterBtn"><em class="fa fa-search"></em></button>
          </span>
        </div>
      </div>
      <div class="panel-body pt0">
        <div>
          <ul class="nav nav-tabs">
            <li name='IMAGE' class="active"><a href="javascript:;">图片</a></li>
            <li name='AUDIO'><a href="javascript:;">音频</a></li>
          </ul>
          <div class="tab-content" style="min-height:494px">
            <div role="tabpanel" class="tab-pane active" id="pictures">
              <div class="media-list">
                
              </div>
              <div class="col-md-12 text-center pt-lg" id='pagination-container'></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

