{{#block "vendor_css"}}
{{/block}}

{{#block "vendor_js"}}
<script type="text/javascript" src="/js/single/media-article.js"></script>
<!--图文预览modal模板-->
{{#each _DATA_.articles}}
<script type="text/html" class="article-preview-tpl" id='{{_id}}-preview'>
  <div class="modal fade" id="{{_id}}" tabindex="-1" role="dialog" aria-labelledby="articlePreviewLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style='width: 360px;'>
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
        <h4 class="modal-title" id="articlePreviewLabel">图文素材预览</h4>
      </div>
      <div class="modal-body pt0 pb0 pl0 pr0" style='height: 500px; overflow: auto;'>
        <div class="pl-lg pr-lg" data-article-id="{{_id}}">
          <h3>{{title}}</h3>
          <span class='text-muted'>{{date createTime "yyyy-MM-dd"}} <a href="/QRCode.html">帕不怕</a></span>
          <span class='text-muted pull-right'>{{author}}</span>
          <div class='pt'>{{{content}}}</div>
          <small class='text-muted'>文章来源：{{from}}</small>
        </div>
        {{#if questions}}
        <div class="cell">
          <div class="pt pl pr pb" style='background-color: #1797be; color: white'>
            <span class=''>如果您是患者，回答以下问题可帮助我们提升服务质量。</span>
          </div>
          <div class="bd">
            {{#each questions}}
            <div class="weui_cells_title">{{title}}</div>
            <div class="weui_cells weui_cells_checkbox">
              {{#each options}}
              <label class="weui_cell weui_check_label mb0" for="{{_id}}">
                <label class="checkbox c-checkbox c-checkbox-rounded mt0 mb0" style='margin-left: 20px'>
                  <input type="radio" name="{{../_id}}">
                  <span class="fa fa-check" style='margin-top:3px;'></span>
                </label>
                <div class="weui_cell_bd weui_cell_primary">
                  <p>{{content}}</p>
                </div>
              </label>
              {{/each}}
            </div>
            {{/each}}
          </div>
        </div>
        {{/if}}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</script>
{{/each}}

{{> pagination }}

{{/block}}
<script>console.log({{{json}}})</script>
<div class="content-heading">
  <div class="pull-right">
    <button type="button" class='btn btn-green btn-sm' onclick='location.href="/admin/media/article/create"'>添加图文素材</button>
  </div>
  <ol class="breadcrumb">
    <li>
      <span>素材库</span>
    </li>
    <li class="active">
      <span>图文素材</span>
    </li>
  </ol>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="input-group">
          <span class="input-group-input">
            <input name="searchTags" class="tag-select" placeholder="输入素材标签" value="{{_QUERY_.tags}}">
          </span>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" name="filterBtn">筛选</button>
          </span>
        </div>
      </div>
      <div class="panel-body pt0">
        {{#unless _DATA_.articles}}
        <div class="text-muted text-center">没有图文素材</div>
        {{else}}
        <table class='table tabel-striped table-hover'>
          <thead>
          <tr>
            <th class="text-left">标题</th>
            <th class="text-center">作者</th>
            <th class="text-center">标签</th>
            <th class="text-center">添加时间</th>
            <th class="text-right">操作</th>
          </tr>
          </thead>
          <tbody>
            {{#each _DATA_.articles}}
            <tr data-id="{{{_id}}}">
              <td>
                <a href='javascript:;' title='{{desc}}' name='previewBtn'>{{title}}</a>
              </td>
              <td class="text-center">{{author}}</td>
              <td class="text-center" data-tags='{{join tags ";"}}'>
                {{#each tags}}
                <span class='label label-purple' style='font-size: 12px;'>{{this}}</span>
                {{/each}}
              </td>
              <td class="text-center text-muted"><small>{{date createTime "yyyy-MM-dd HH:mm:ss"}}</small></td>
              <td class="text-right">
                <a href='/admin/media/article/modify/{{_id}}' class='btn btn-link btn-xs'>修改</a>
                <a href='javascript:;' name='deleteArticleBtn' class='btn btn-link btn-xs'>删除</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <div class="row pt-lg">
          <div class="col-md-12 text-center pagination-sm" id='pagination-container'></div>
          <div class="col-md-12 text-center">
            <small class="text-muted">检索到{{_DATA_.total}}条，共{{_DATA_.pageCnt}}页</small>
          </div>
        </div>
        {{/unless}}
      </div>
    </div>
  </div>
</div>
