<div class="aside-inner">
  <nav data-sidebar-anyclick-close="" class="sidebar">
    <ul class="nav">
      <li class="nav-heading">
        <span>概览</span>
      </li>
      {{#startsWith _PATH_ "/dashboard" }}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/dashboard" title="控制台">
          <em class="icon-speedometer"></em>
          <span>控制台</span>
        </a>
      </li>

      <li class="nav-heading">
        <span>管理</span>
      </li>

      {{#startsWith _PATH_ "/user"}}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/user" title="用户管理">
          <em class="icon-people"></em>
          <span>用户管理</span>
        </a>
      </li>

      {{#startsWith _PATH_ "/school"}}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/school" title="学校管理">
          <em class="icon-unifersity"></em>
          <span>学校管理</span>
        </a>
      </li>

      {{#startsWith _PATH_ "/speciality"}}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/speciality" title="专业管理">
          <em class="icon-bell"></em>
          <span>专业管理</span>
        </a>
      </li>

      {{#startsWith _PATH_ "/course"}}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/course" title="课程管理">
          <em class="icon-bell"></em>
          <span>课程管理</span>
        </a>
      </li>

      {{#startsWith _PATH_ "/author"}}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/author" title="作者管理">
          <em class="icon-bell"></em>
          <span>作者管理</span>
        </a>
      </li>

      {{#startsWith _PATH_ "/topic"}}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/topic" title="知识点管理">
          <em class="icon-bell"></em>
          <span>知识点管理</span>
        </a>
      </li>

      {{#startsWith _PATH_ "/attachment"}}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/attachment" title="附件管理">
          <em class="icon-bell"></em>
          <span>附件管理</span>
        </a>
      </li>

      {{#startsWith _PATH_ "/comment"}}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/comment" title="评论管理">
          <em class="icon-bell"></em>
          <span>评论管理</span>
        </a>
      </li>

      {{#startsWith _PATH_ "/asset"}}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/asset" title="素材管理">
          <em class="icon-bell"></em>
          <span>素材管理</span>
        </a>
      </li>

      {{#startsWith _PATH_ "/account"}}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/account" title="运营账号管理">
          <em class="icon-badge"></em>
          <span>运营账号管理</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
