{{#block "vendor_js"}}
<script src="/vendor/plupload/js/plupload.full.min.js"></script>
<script src="/vendor/qiniu/dist/qiniu.min.js"></script>
<script type="text/html" id='create-tpl'>
  <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="createLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="loader" style="display: none;">
          <div class="whirl traditional"></div>
        </div>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
          <h4 class="modal-title" id="createLabel">上传附件</h4>
        </div>
        <form id='attachment-form'>
          <div class="modal-body">
            <div class="form-group">
              <label>附件名称</label>
              <input type="text" name='name' placeholder="请输入附件名称" class="form-control" required>
            </div>
            <div class="form-group">
              <label>所属课程</label>
              <select name="courseId" class="form-control" style="width: 100%" required></select>
            </div>
            <div class="form-group">
              <label>价格</label>
              <input type="number" name='cost' placeholder="请输入价格" class="form-control" min="0" max="1000000">
            </div>
            <div class="form-group">
              <label>文件</label>
              <div class="input-group">
                <span type="text" class="form-control" name="uploadFilePath"><span class="text-placeholder">请选择附件</span></span>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" id="attachment-upload-btn">选择文件</button>
                </span>
              </div>
            </div>
          </div>
            
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" name='submitBtn'>提交</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</script>
<script type="text/html" id='modify-tpl'>
  <div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="modifyLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="loader" style="display: none;">
          <div class="whirl traditional"></div>
        </div>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
          <h4 class="modal-title" id="modifyLabel">修改附件</h4>
        </div>
        <form id='attachment-form'>
          <div class="modal-body">
            <div class="form-group">
              <label>附件名称</label>
              <input type="text" name='name' placeholder="请输入附件名称" class="form-control" required>
            </div>
            <div class="form-group">
              <label>所属课程</label>
              <select name="courseId" class="form-control" style="width: 100%" required></select>
            </div>
            <div class="form-group">
              <label>价格</label>
              <span class="text-muted pull-right">价格最高计1,000,000元</span>
              <input type="number" name='cost' placeholder="请输入价格" class="form-control" min="0" max="1000000">
            </div>
            <div class="form-group">
              <label>文件</label>
              <div class="input-group">
                <span type="text" class="form-control" name="uploadFilePath"><span class="text-placeholder">请选择附件</span></span>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" id="attachment-upload-btn">选择文件</button>
                </span>
              </div>
            </div>
          </div>
            
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" name='submitBtn'>提交</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</script>
{{/block}}

<script>console.log({{{json}}})</script>
<div class="content-heading">
  <div class="pull-right">
    <button type="button" class="btn btn-sm btn-primary" name='createBtn' data-js-comp="component/attachment/create">上传附件</button>
  </div>
  <ol class="breadcrumb">
    <li>
      <span>管理</span>
    </li>
    <li class="active">
      <span>附件管理</span>
    </li>
  </ol>
</div>
<div class="row">
  <div class="col-md-12">
    <div class='panel panel-default panel-search' data-js-comp="component/common/search_panel">
      <div class="panel-body">
        <form id="search-form" class="form-inline">
          <table>
            <tr>
              <td class="search-label">
                附件名称：
              </td>
              <td>
                <input type="text" class="form-control input-sm" name="name" placeholder="请输入" value="{{likeQuery _QUERY_.filter.name}}">
              </td>
              <td class="search-label">
                所属课程：
              </td>
              <td>
                <select name="courseId" class="form-control input-sm"></select>
              </td>
              <td class="search-label">
                所属作者：
              </td>
              <td>
                <select name="authorId" class="form-control input-sm"></select>
              </td>
              <td width="100%">
                &nbsp;
              </td>
              <td>
                <button type="submit" class="btn btn-primary btn-outline">搜索</button>
              </td>
              <td>
                <button type="reset" class="btn btn-default ml">重置</button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    
    <input type="hidden" data-js-comp="component/attachment/modify">
    <input type="hidden" data-js-comp="component/attachment/delete">

    <div class="panel panel-default" data-auto-height='45'>
      <div class="panel-body p0">
        <div class="row">
          <div class="col-md-12" style="min-height: 300px;">
            <table class='table tabel-striped'>
              <thead>
              <tr>
                <th class="text-left">名称</th>
                <th class="text-center">所属课程</th>
                <th class="text-center">所属作者</th>
                <th class="text-center">价格</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">修改时间</th>
                <th class="text-right">操作</th>
              </tr>
              </thead>
              <tbody>
              {{#unless _DATA_.result}}
                <tr><td colspan="7" class="text-muted text-center">找不到数据（T T）</td></tr>
              {{else}}
                {{#each _DATA_.result}}
                  <tr data-id="{{{id}}}">
                    <td class="text-left">
                      <a href="{{qiniuFile key}}" target="_blank">{{name}}.{{ext}}</a>
                    </td>
                    <td class="text-center">
                      {{#if course}} {{course.name}} {{else}} - {{/if}}
                    </td>
                    <td class="text-center">
                      {{#if author}} {{author.name}} {{else}} - {{/if}}
                    </td>
                    <td class="text-center">
                      <span class="text-warning">￥ {{price cost}}</span>
                    </td>
                    <td class="text-center">
                      <small class="text-muted">{{date createdAt "yyyy-MM-dd HH:mm:ss"}}</small>
                    </td>
                    <td class="text-center">
                      <small class="text-muted">{{date updatedAt "yyyy-MM-dd HH:mm:ss"}}</small>
                    </td>
                    <td class="text-right">
                      <a href="javascript:;" name="modifyBtn">修改</a>
                      {{#if authorId}}
                      <a href="javascript:;" title="该素材与作者关联，无法删除" disabled>删除</a>
                      {{else}}
                      <a href="javascript:;" name="deleteBtn">删除</a>
                      {{/if}}
                    </td>
                  </tr>
                {{/each}}
              {{/unless}}
              </tbody>
            </table>
            {{> pagination}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
