{{#block "vendor_css"}}
{{/block}}

{{#block "vendor_js"}}
<script type="text/javascript" src="/js/single/media-image.js"></script>
{{> pagination }}

<!--上传图片modal模板-->
<script type="text/html" id='image-upload-tpl'>
  <div class="modal fade" id="image-upload" tabindex="-1" role="dialog" aria-labelledby="imageUploadLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
        <h4 class="modal-title" id="imageUploadLabel">添加图片素材</h4>
      </div>
      <form id='image-upload-form'>
        <div class="modal-body">
          <div class="form-group">
            <label>图片选择</label>
            <input type="file" name='file' accept='image/*' style='width: 100%;' required>
          </div>
          <div class="form-group">
            <label>图片名称</label>
            <input type="text" name='title' placeholder="请输入图片名称" class="form-control", required>
          </div>
          <div class="form-group">
            <label>图片简介</label>
            <textarea type="text" name='description' placeholder="请输入图片简介" class="form-control", style='width:100%; height: 100px; resize: none;'></textarea>
          </div>
          <div class="form-group">
            <label>图片标签</label>
            <a href="javascript:;" class='create-tag-btn'>创建标签</a>
            <input name='tags' class="tag-select" style="width: 100%">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" name='submitUploadBtn'>添加</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </form>
    </div>
  </div>
</script>
<!--修改图片modal模板-->
<script type="text/html" id='image-modify-tpl'>
  <div class="modal fade" id="image-modify" tabindex="-1" role="dialog" aria-labelledby="imageModifyLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
        <h4 class="modal-title" id="imageModifyLabel">修改图片素材</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>图片名称</label>
            <input type="text" name='title' placeholder="请输入图片名称" class="form-control", required>
          </div>
          <div class="form-group">
            <label>图片简介</label>
            <textarea type="text" name='description' placeholder="请输入图片简介" class="form-control", style='width:100%; height: 100px; resize: none;'></textarea>
          </div>
          <div class="form-group">
            <label>图片标签</label>
            <a href="javascript:;" class='create-tag-btn'>创建标签</a>
            <input name="tags" class="tag-select form-control" style="width: 100%">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" name='submitModifyBtn'>修改</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</script>
{{/block}}

<div class="content-heading">
  <div class="pull-right">
    <button type="button" class='btn btn-green btn-sm' name='uploadImageBtn'>添加图片素材</button>
  </div>
  <ol class="breadcrumb">
    <li>素材库
    </li>
    <li class="active">图片素材
    </li>
  </ol>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="input-group">
          <span class="input-group-input">
            <input name="searchTags" class="tag-select" placeholder="输入素材标签" value="{{_QUERY_.tags}}">
          </span>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" name="filterBtn">筛选</button>
          </span>
        </div>
      </div>
      <div class="panel-body pt0">
        {{#unless _DATA_.media}}
        <p class='text-center'>没有此类素材</p>
        {{else}}
        <div class="row">
          <div class="col-md-12">
            <div class="row-masonry row-masonry-lg-5 row-masonry-md-3 row-masonry-sm-3">
              {{#each _DATA_.media}}
              <div class="col-masonry">
                <div class='img-thumbnail media-box' data-id='{{_id}}'>
                  <div class='text-center no-wrap' name='title'>{{title}}</div>
                  <img src="{{{url}}}" alt="" class="img-responsive"  name='img' title='{{desc}}'>
                  <div class='media-controller'>
                    <button class='btn btn-xs btn-warning' name='modifyImageBtn'><em class='fa fa-pencil'></em></button>
                    <button class='btn btn-xs btn-danger' name='deleteImageBtn'><em class='fa fa-trash'></em></button>
                  </div>
                  <div style='padding: 3px 2px 0 2px;' data-tags='{{join tags ";"}}'>
                    {{#each tags}}
                    <span class='label label-purple'>{{this}}</span>
                    {{/each}}
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center pagination-sm" id='pagination-container'></div>
          <div class="col-md-12 text-center">
            <small class="text-muted">检索到{{_DATA_.total}}条，共{{_DATA_.pageCnt}}页</small>
          </div>
        </div>
        {{/unless}}
      </div>
    </div>
  </div>
</div>
