{{#block "vendor_js"}}
<script type="text/html" id='create-tpl'>
  <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="createLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
        <h4 class="modal-title" id="createLabel">创建学校</h4>
      </div>
      <form id='school-form'>
        <div class="modal-body">
          <div class="form-group">
            <label>学校名称</label>
            <input type="text" name='name' placeholder="请输入学校名称" class="form-control" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" name='submitBtn'>提交学校信息</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </form>
    </div>
  </div>
</script>
{{/block}}

<script>console.log({{{json}}})</script>
<div class="content-heading">
  <div class="pull-right">
    <button type="button" class="btn btn-sm btn-primary" name='createBtn' data-js-comp="component/school/create">创建学校</button>
  </div>
  <ol class="breadcrumb">
    <li>
      <span>管理</span>
    </li>
    <li class="active">
      <span>学校管理</span>
    </li>
  </ol>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default" data-auto-height='45'>
      <div class="panel-body p0">
        <div class="row">
          <div class="col-md-12" style="min-height: 300px;">
            <table class='table tabel-striped'>
              <thead>
              <tr>
                <th class="text-left">编号</th>
                <th class="text-center">学校名称</th>
                <th class="text-center">专业数量</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">修改时间</th>
                <th class="text-right">操作</th>
              </tr>
              </thead>
              <tbody>
              {{#unless _DATA_.result}}
                <tr><td colspan="6" class="text-muted text-center">找不到数据（T T）</td></tr>
              {{else}}
                {{#each _DATA_.result}}
                  <tr data-id="{{{id}}}">
                    <td class="text-left" width="64">
                      <a href="">{{padLeft id 6}}</a>
                    </td>
                    <td class="text-center">
                      {{name}}
                    </td>
                    <td class="text-center">
                      {{specialityCount}}
                    </td>
                    <td class="text-center">
                      <small class="text-muted">{{date createdAt "yyyy-MM-dd HH:mm:ss"}}</small>
                    </td>
                    <td class="text-center">
                      <small class="text-muted">{{date updatedAt "yyyy-MM-dd HH:mm:ss"}}</small>
                    </td>
                    <td class="text-right">
                      <a href="javascript:;" name="modifyBtn">修改</a>
                      <a href="javascript:;" name="deleteBtn">删除</a>
                    </td>
                  </tr>
                {{/each}}
              {{/unless}}
              </tbody>
            </table>
            <div class="row pt-lg">
              <div class="col-md-12 text-center pagination-sm" id='pagination-container' 
                   data-js-comp="component/common/pagination"
                   data-total-count="{{_DATA_.totalCount}}"
                   data-page-count="{{_DATA_.pageCount}}"
                   data-page="{{_DATA_.page}}"
              ></div>
              <div class="col-md-12 text-center">
                <small class="text-muted">检索到{{_DATA_.totalCount}}条，共{{_DATA_.pageCount}}页</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
